* {
	font-family: SMA Futura Global, Arial;
	font-size: 11pt;
	padding: 0;
	margin: 0;
}

html {
}

body {
	background: white;
	padding: 0px;
	margin: 0px;
	min-width: 512px;
}
footer {
	color: #000;
	background: #fafafa;
}
nav {
	background: #212121;
	color: #ddd;
	padding: 10px 25px;
	display: none;
}
#header {
	padding: 25px;
}
#header p {
	padding-top: 4pt;
}
#header img {
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}
#headercontent {
	margin-right: 99px;
}
#legend , #footer {
	border-top: 1px solid #ececec;
	padding: 10px 25px;
	width: 100%;
}
#footer p {
	font-size: 9pt;
}
.floatingTable {
	position: relative;
}
.headFloat {
	position: absolute;
	top: 0px;
}
h1 {
	font-family: SMA Futura Global Light, Arial;
	font-weight: normal;
	font-size: 130%;
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 130%;
}
p {
	margin: 0;
	padding: 0;
}
table {
	border-spacing: 0;
	margin: 0 0 8pt 0;
}
td, th {
	padding: 4pt 8pt 4pt 4pt;
	vertical-align: top;
}
th {
	background: #e0e0e0;
	text-align: left;
	cursor: pointer;
	border-bottom: 3px solid #e0e0e0;
	border-right: 1px solid #f0f0f0;
	transition-duration: 600ms;
	background-repeat: no-repeat;
	background-position: right 6px;
	padding-right: 20px;
}
th:hover {
	border-bottom: 3px solid #e2001a;
	transition-duration: 600ms;
}
tr:nth-child(odd) {
	background: #f9f9f9;
}
tr:nth-child(even) {
	background: white;
}
td {
	border-bottom: 1px solid #fcfcfc;
	border-right: 1px solid #f0f0f0;
}
b {
	font-weight: bold;
}
ul {
	margin: 0pt;
	padding: 0pt;
}
li {
	margin: 0 0 0 18pt;
	padding: 0pt;
}
.headerSortUp {
  background-image: url(../images/sortdown.png);
}
.headerSortDown {
  background-image: url(../images/sortup.png);
}